In [1]:
import networkx as nx
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import time

%matplotlib inline

In [3]:
authors = pd.read_csv('data/Full_mag&phase1+2_Authors.csv', dtype=object )
p1p2= pd.read_csv('data/p1p2Pub_doi.csv', dtype=object)
doi = pd.read_csv('data/Full_mag&phase1+2_doi.csv', dtype=object)

In [4]:
p1p2.head()

,Unnamed: 0,pdf_file_name,pub_date,publication_id,text_file_name,title,unique_identifier
0,0,102.pdf,1969-01-01,102,102.txt,How does P2P lending fit into the consumer cre...,bbk-1
1,1,103.pdf,1969-01-01,103,103.txt,Moral Suasion in Regional Government Debt Markets,bbk-2
2,2,104.pdf,1969-01-01,104,104.txt,International monetary policy spillovers throu...,bbk-3
3,3,106.pdf,1969-01-01,106,106.txt,"Quantitative Easing, Portfolio Rebalancing and...",bbk-5
4,4,107.pdf,1969-01-01,107,107.txt,"Asset Purchases, Bank Lending, and Security Ho...",bbk-6

In [5]:
doi.head()

,unique_identifier,PaperId,Doi
0,10.1111/j.1471-6402.1996.tb00667.x,2139120848,10.1111/j.1471-6402.1996.tb00667.x
1,10.1177/0011128718779363,2807275068,10.1177/0011128718779363
2,10.1177/0014585816669937,2580410881,10.1177/0014585816669937
3,10.1177/0031512517720565,2737937147,10.1177/0031512517720565
4,10.1177/0093854806290239,1968333705,10.1177/0093854806290239

In [15]:
p1p2_id_doi = pd.merge(p1p2, doi, left_on='unique_identifier', right_on='Doi', how='inner')[['publication_id','PaperId','Doi']]

In [16]:
p1p2_id_doi.head(10)

  publication_id     PaperId                                 Doi
0           5713  1976087269        10.1177/00220345870660010201
1           5714  2139304321         10.1177/0095798499025001006
2           5715  2013907166          10.1177/1532673X9402200107
3           5716  1968587696          10.1177/002234337901600305
4           5717  2111197844         10.1177/0022343303040001207
5           5718  2072280052           10.1177/10780870022184462
6           5719  2132815484  10.1111/j.1467-9248.1977.tb01285.x
7           5720  1994027165          10.1177/019263659708159103
8           5721  2075730595          10.1177/1532673X9001800405
9           5722  1988840891          10.1177/1532673X9302100402

In [17]:
authors.head()

      PaperId  AuthorId          DisplayName LastKnownAffiliationId PaperCount
0  2134502150  12527003     Joseph Glicksohn               13955877        140
1  2119979295  17146606      Badassa Tadasse              130238516          5
2  2768044062  35812235  Jonathan A. Plucker              145311948        215
3  2464944250  55684669    Saeed Pirouzpanah              163205636         27
4  2216517794  92297013     David J. Pauleen               51158804        105

In [19]:
p1p2_PubAuthor_pairs = pd.merge(p1p2_id_doi, authors, left_on='PaperId', right_on='PaperId', how='inner')[['publication_id','AuthorId','Doi']]

In [20]:
p1p2_PubAuthor_pairs.head(10)

  publication_id    AuthorId                                 Doi
0           5713  1920061433        10.1177/00220345870660010201
1           5713  2569351966        10.1177/00220345870660010201
2           5714  2127211568         10.1177/0095798499025001006
3           5715  2721305972          10.1177/1532673X9402200107
4           5716  2793352098          10.1177/002234337901600305
5           5716  2705789217          10.1177/002234337901600305
6           5717  2628801028         10.1177/0022343303040001207
7           5718  2005827806           10.1177/10780870022184462
8           5719  2616973580  10.1111/j.1467-9248.1977.tb01285.x
9           5719  1992900025  10.1111/j.1467-9248.1977.tb01285.x

In [21]:
#p1p2_PubAuthor_pairs.to_csv('p1p2_PubAuthor_pairs.csv')

In [22]:
p1p2_PubAuthor_pairs.AuthorId.nunique()

26070

In [23]:
p1p2_PubAuthor_pairs.publication_id.nunique()

9708

In [25]:
p1p2_PubAuthor_pairs.Doi.nunique()

9708