In [38]:
import networkx as nx
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import time

%matplotlib inline

In [48]:
authors = pd.read_csv('data/Full_mag&publications_Authors.csv', dtype=object )
publications = pd.read_csv('data/publications.csv', dtype=object)
doi = pd.read_csv('data/Full_mag&publications_doi.csv', dtype=object)

In [49]:
publications.head(10)

,pdf_file_name,pub_date,publication_id,text_file_name,title,unique_identifier
0,105.pdf,1969-01-01,105,105.txt,Cheap Talk? Financial Sanctions and Non-Financ...,bbk-4
1,109.pdf,1969-01-01,109,109.txt,Banks' Trading after the Lehman Crisis - The R...,bbk-8
2,110.pdf,1969-01-01,110,110.txt,A Comprehensive View on Risk Reporting: Eviden...,bbk-9
3,111.pdf,1969-01-01,111,111.txt,The Financial Market Effects of the ECB's Asse...,bbk-10
4,115.pdf,1969-01-01,115,115.txt,Interbank Intermediation,bbk-14
5,116.pdf,1969-01-01,116,116.txt,Why do banks bear interest rate risk?,bbk-15
6,119.pdf,1969-01-01,119,119.txt,International Banking and Cross-Border Effects...,bbk-18
7,122.pdf,1969-01-01,122,122.txt,BanksŐ Equity Stakes and Lending: Evidence fro...,bbk-21
8,123.pdf,1969-01-01,123,123.txt,M-PRESS-CreditRisk: A holistic micro- and macr...,bbk-22
9,124.pdf,1969-01-01,124,124.txt,Cross-border transmission of emergency liquidity,bbk-23

In [50]:
doi.head(10)

,title1,PaperId,Doi
0,10.1001/archpedi.160.3.279,2137918531,10.1001/archpedi.160.3.279
1,10.1001/jama.287.9.1123,2106231056,10.1001/jama.287.9.1123
2,10.1038/ajh.2010.40,2039034380,10.1038/ajh.2010.40
3,10.1038/oby.2000.79,2029957476,10.1038/oby.2000.79
4,10.1038/oby.2009.365,2083124104,10.1038/oby.2009.365
5,10.1068/i0701,2075585088,10.1068/i0701
6,10.1080/10911350903341077,2039617691,10.1080/10911350903341077
7,10.1097/00001648-199307000-00005,2058242293,10.1097/00001648-199307000-00005
8,10.1097/AOG.0b013e31818b0df2,1986943575,10.1097/AOG.0b013e31818b0df2
9,10.1097/OLQ.0b013e318074e565,2017153096,10.1097/OLQ.0b013e318074e565

In [51]:
pub_doi = pd.merge(publications, doi, left_on='unique_identifier', right_on='Doi', how='inner')[['publication_id','PaperId','Doi']]

In [52]:
pub_doi.head(10)

,publication_id,PaperId,Doi
0,166,2143755248,10.1093/geront/36.4.464
1,167,2170243727,10.1093/geronb/56.5.S275
2,168,2171962618,10.1093/geront/39.1.59
3,169,2160690703,10.1093/geront/39.6.695
4,170,2128509884,10.1093/oxfordjournals.aje.a009387
5,171,2168670226,10.1093/geront/36.1.70
6,172,2113091730,10.1146/annurev.publhealth.21.1.505
7,173,1979864603,10.1002/1097-0142(19931001)72:7<2148::AID-CNCR...
8,174,2330591028,10.1038/sj.jea.7500032
9,175,2168075965,10.1377/hlthaff.12.1.144

In [53]:
authors.head(5)

,PaperId,AuthorId,DisplayName,LastKnownAffiliationId,PaperCount
0,2104865572,39367150,Bruce H. R. Wolffenbuttel,1334415907,546
1,2139458019,141843689,Sylvie Démurger,203339264,79
2,2111178213,315081531,Paul M. Guinther,888729015,6
3,2271983574,345889393,Casey A. Klofstad,145608581,47
4,2310476556,430514087,Julie Byles,78757542,436

In [54]:
PubAuthor_pairs = pd.merge(pub_doi, authors, left_on='PaperId', right_on='PaperId', how='inner')[['publication_id','AuthorId','Doi']]

In [55]:
PubAuthor_pairs.head()

  publication_id    AuthorId                       Doi
0            166  1980535627   10.1093/geront/36.4.464
1            166  2102637265   10.1093/geront/36.4.464
2            166  2097939274   10.1093/geront/36.4.464
3            166  2474341466   10.1093/geront/36.4.464
4            167  2097939274  10.1093/geronb/56.5.S275